{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-newsindexpage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/news_index_page.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="container">
    {% include "news/breadcrumbs.html" %}
    <h2 style="margin-top: 20px; margin-bottom: 20px;">{{page.title}}</h2>    
    <div class="background-color-white">
            <div class="row">
                {% for post in newspages %}
                {% with post=post.specific %}
                <div class="col-md-12">
                    <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>
                    <div class="row">
                        <div class="col-md-4">
                            {% with post.main_image as main_image %}
                            {% if main_image %}
                            <div class="mb-3">
                                {% image main_image fill-320x200 %}
                            </div>
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-md-8">
                            <p>{{ post.intro }}</p>
                            <p><a href="{% pageurl post %}">Читать далее...</a></p>
                            <p><small> {{ post.date }} </small></p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter != newspages|length %}
                <hr>
                {% endif %}
                {% endwith %}
                {% endfor %}
            </div>
    </div>
    
    <!-- Pagination links -->
    <div class="pagination mt-4">
        <ul class="pagination">
            {% if newspages.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ newspages.previous_page_number }}">Предыдущая</a>
                </li>
            {% endif %}
                
            {% for page_num in newspages.paginator.page_range %}
                <li class="page-item {% if page_num == newspages.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
            {% endfor %}
                
            {% if newspages.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ newspages.next_page_number }}">Следующая</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ newspages.paginator.num_pages }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>

</div>
{% endblock %}
