
.background-color-white {
    background-color: #ffffff; 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px;
} 

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px; 
}

.other-news h4 {
    margin-bottom: 20px; 
}

.other-news p {
    margin-bottom: 5px; 
}

.other-news img {
    border-radius: 10px; 
}

.carousel-inner {
    border-radius: 10px; 
}

.other-news a {
    color: rgb(95, 191, 95); 
    text-decoration: none; 
}

.other-news a:hover {
    text-decoration: underline; 
}

.tags {
    margin-top: 20px;
}

.tags a {
    color: rgb(95, 191, 95); 
    text-decoration: none; 
}

.tags a:hover {
    text-decoration: underline; 
}